div#dhrm-table {
    ::ng-deep {
        div.header-column-dropdown-wrapper {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 5px;
        }

        .no-wrap-text-style {
            overflow: hidden; 
            text-overflow: ellipsis; 
            -o-text-overflow: ellipsis;
            white-space:nowrap;
        }

        .header-items-wrapper {
            @extend .no-wrap-text-style;
            background-color: #dae8ef;
            color: #404c51;
            border: 1px solid #c1d5df;
        }

        .body-items-wrapper {
            @extend .no-wrap-text-style;
        }

        th.header-actions-wrapper {
            @extend .no-wrap-text-style;
            width: 110px;
            background-color: #dae8ef;
            color: #404c51;
            border: 1px solid #c1d5df;
        }
        td.body-actions-wrapper {
            @extend .no-wrap-text-style;
            width: 110px;
            text-align: center;
            span.body-action-item {
                margin-right: 8px;
            }
        }

        div.table-paginator-wrapper {
            p-paginator {
                div.ui-paginator {
                    text-align: right;
                    height: 34px;

                    div.ui-paginator-left-content {
                        padding-left: 5px;
                        line-height: 34px;
                        color: #848484;
                    }
                }
            }
        }

        // TODO: Override native colors
        table.ui-table-scrollable-body-table {
            .ui-table-tbody > tr {
                background-color: #f3f6f9;
            }
            .ui-table-tbody > tr:nth-child(even) {
                background-color: #fbfcfd;
            }
        }
    }
}