<div id="dhrm-table">
    <div class="header-column-dropdown-wrapper">
        <p-multiSelect [options]="variableCols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns">
        </p-multiSelect>
    </div>

    <p-table [value]="pageableItem?.data" scrollHeight="calc( 100vh - 677px )" [scrollable]="true"
        (sortFunction)="multiSortChange($event)" [customSort]="true" sortMode="multiple"
        [multiSortMeta]="multiSortMeta">
        <!-- display table header -->
        <ng-template pTemplate="header">
            <tr>
                <th class="header-items-wrapper" *ngFor="let col of defaultCols" [title]="col.header" [pSortableColumn]="col.field"
                    [pSortableColumnDisabled]="col.order === -2">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.order !== -2" [field]="col.field"></p-sortIcon>
                </th>
                <th class="header-items-wrapper" *ngFor="let col of selectedColumns" [title]="col.header" [pSortableColumn]="col.field"
                    [pSortableColumnDisabled]="col.order === -2">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.order !== -2" [field]="col.field"></p-sortIcon>
                </th>
                <th class="header-actions-wrapper" title="Actions" *ngIf="actions?.length">
                    Actions
                </th>
            </tr>
        </ng-template>

        <!-- display table data -->
        <ng-template *ngIf="pageableItem.data?.length" pTemplate="body" let-rowData>
            <tr>
                <td class="body-items-wrapper" *ngFor="let col of defaultCols" [title]="rowData[col.field]">
                    {{rowData[col.field]}}
                </td>
                <td class="body-items-wrapper" *ngFor="let col of selectedColumns" [title]="rowData[col.field]">
                    {{rowData[col.field]}}
                </td>
                <td class="body-actions-wrapper" *ngIf="actions?.length">
                    <span *ngFor="let action of actions" class="body-action-item"
                        (click)="actionClick(action.type, rowData)" [title]="action.title">
                        <i [class]="action.iconName"></i>
                    </span>
                </td>
            </tr>
        </ng-template>

        <!-- display when none data -->
        <ng-template *ngIf="!pageableItem?.data?.length" pTemplate="summary">
            None data found.
        </ng-template>

    </p-table>
    <!-- table paginator wrapper -->
    <div class="table-paginator-wrapper" *ngIf="pageableItem?.data?.length">
        <p-paginator #paginator [rows]="pageableItem?.pageSize" [totalRecords]="pageableItem?.totalCount"
            [rowsPerPageOptions]="[10,20,50,100]" [templateLeft]="totalCountTemplate"></p-paginator>
        <ng-template #totalCountTemplate>
            <div class="paginator-total-wrapper"
                *ngIf="(pageableItem?.pageIndex+1)*pageableItem?.pageSize<=pageableItem?.totalCount">
                Index Range:{{pageableItem?.pageIndex*pageableItem?.pageSize+1}} -
                {{(pageableItem?.pageIndex+1)*pageableItem?.pageSize}}, Total Count:{{pageableItem?.totalCount}}
            </div>
            <div class="paginator-total-wrapper"
                *ngIf="(pageableItem?.pageIndex+1)*pageableItem?.pageSize>pageableItem?.totalCount">
                Index Range:{{pageableItem?.pageIndex*pageableItem?.pageSize+1}} - {{pageableItem?.totalCount}},
                Total Count:{{pageableItem?.totalCount}}
            </div>
        </ng-template>
    </div>
</div>