div#dhrm-table {
    ::ng-deep {
        div.header-column-dropdown-wrapper {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 5px;
        }

        .header-items-wrapper {
            overflow: hidden; 
            text-overflow: ellipsis; 
            -o-text-overflow: ellipsis;
            white-space:nowrap;
        }

        .body-items-wrapper {
            @extend .header-items-wrapper;
        }

        th.header-actions-wrapper {
            @extend .header-items-wrapper;
            width: 110px;
        }
        td.body-actions-wrapper {
            @extend .header-items-wrapper;
            width: 110px;
            text-align: center;
            span.body-action-item {
                margin-right: 8px;
            }
        }

        div.table-paginator-wrapper {
            p-paginator {
                div.ui-paginator {
                    text-align: right;
                    height: 34px;

                    div.ui-paginator-left-content {
                        padding-left: 5px;
                        line-height: 34px;
                        color: #848484;
                    }
                }
            }
        }
    }
}